.article {
  display: flex;
}

.image {
  width: 200px;
  background-size: cover;
  background-position: center;
}

.content {
  margin-left: 10px;
  flex: 1;
}

.description {
  text-align: justify;
  margin: 10px 0;
}

.link {
  text-align: right;
}

.title {
  font-size: 1.25em;
  font-weight: 700;
  color: #c5484d;
  line-height: 1.25em;
  margin-bottom: 10px;
}